<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/basic.css">
    <title>Page not found</title>
</head>
<body class = "bg">
    <div style = "background-color: rgba(100,100,200,0.7);">
        <br>
        <h1>404 Error</h1>
        <h2>Oops! The page you're looking for does not exist</h2>
        <h4>Check the spelling, perhaps?</h4>
        <br><br>
    </div>
</body>
</html>