<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/basic.css">
    <title>About Us</title>
</head>
<body class = "bg">
    <div style = "color: rgb(50, 50, 100)">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia doloribus vero, veniam quam fuga ipsam distinctio voluptate amet vitae aperiam accusamus. Maiores earum pariatur autem quibusdam consequatur ipsa voluptatibus est?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure suscipit dolore laborum, repudiandae ullam nostrum magni consectetur blanditiis vel culpa, accusamus debitis porro provident tenetur officiis voluptatem architecto veritatis commodi!</p>
    </div>
</body>
</html>