<form action="/appointment/<%=doc._id%>" method="POST">

<input type="date" name="date" id="date"><br>
<input type="time" name="time" id="time"><br>
    <input type = "email" placeholder = "Email" name="email"><br>

    <button>BOOK</button>
</form>