<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="faq.css">
</head>
<body>
    
    <div class="HOME">
       <a href="/"><button class ="homex">HOME</button></a> 
    </div>
    <div class="Nav">


    </div>
    <div class="faq-page">
        <h1>Frequently Asked Questions</h1>
        <div class="faq-item">
          <h2> What details are required to make an appointment?</h2>
          <p>: To book an appointment, you typically need to provide basic information such as your name, contact details, preferred date and time, and the reason for the appointment.</p>
        </div>
        <div class="faq-item">
          <h2>Can I book an appointment by selecting a specialty?</h2>
          <p>Yes, you can choose a specialty (e.g., dentistry, gynecology, nutrition) and find doctors in that field for booking appointments.</p>
        </div>
        <div class="faq-item">
          <h2>Will I talk to someone after I request an appointment?</h2>
          <p>Typically, you’ll receive a confirmation on you dashboard if the doctors accepts your appointment else your appointment may also get rejected by doctor . If you have any concerns, you can contact customer support.</p>
        </div>
        
      </div>
</body>
</html>