<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./a.css">
</head>
<body>
    <h1 class="dept">DEPARTMENT</h1><br><br>
    <div class="doctor-card">
        <div class="doctor-info">
            
          <div class="doctor-photo"><img src="./doctor.jpg" alt="Doctor"> </div>
          <h2 class="doctor-name">Dr. A K Bardhan</h2>
          <p class="doctor-qualifications">MBBS (1971), MD (1979), Dip. Card. (1976), FCCP</p>
          <p class="doctor-experience">30 years experience overall</p>
          <p class="doctor-hospital">Apollo HOSPITALS</p>
          <p class="doctor-address">Canal Circular Road, Kolkata</p>
          <a class="book-appointment-btn" href="www.iskcondwarka.org">Book an Appointment</a>
        </div>

          
      </div>
</body>
</html>