.Main{
    text-align:Center;
    background-image: linear-gradient(45deg ,#272bfb,#c0bcfe);
    color:aliceblue
    
}
.contact-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form input[type="tel"],
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .contact-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color:#483fff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form input[type="submit"]:hover {
    background-color: #6a62f8;
  }